<div class="login-container">
  <h2>Login</h2>

  <form (ngSubmit)="login()" class="login-form">
    <label>
      Username
      <input
        [(ngModel)]="username"
        name="username"
        placeholder="Enter username"
        required
      />
    </label>

    <label>
      Password
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Enter password"
        required
      />
    </label>

    <button type="submit">Login</button>
  </form>

  <p *ngIf="error" class="error">{{ error }}</p>

  <p class="register-link">
    Don't have an account? <a routerLink="/register">Register here</a>
  </p>
</div>
